.messages {
    background-color: #d6d6d6;
    padding: 20px;
    height:300px;
    width: 350px;
    overflow: auto;
}

.message {
    margin-bottom: 14px;
    display: flex;
    flex-direction: row;
}


.message .content {
    background-color:#b3b3b3;
    padding: 12px;
    margin-top: 2px;
    border-radius: 2px 20px 20px 20px;
}

.message .footer {
    font-size: 8px;
    text-align: right;
    float:left;
}

.user{
    border-radius: 2px;
    padding-right:5px;
    height: 25px;
    text-decoration: underline;
    float:left;
}
.user-message .content {
    background-color: #ffffff;
}