{% extends 'widget/simpletemplate.html' %}

{% block login %}
{% if user.is_authenticated %}
  <div class="innerlogin">
    <h2>Welcome to Oh, Chat App!</h2>
  </div>
{% else %}
  <div class="innerlogin">
    <h2>Log in to Oh, Chat App!</h2>
    <br>
    {% if form.errors %}
      <p style="color: red">Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <div class = "loginform">
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}<br>
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% if field.help_text %}
              <p><small style="color: grey">{{ field.help_text }}</small></p>
            {% endif %}
          </p>
        {% endfor %}
        <button type="submit" >Log in</button><br><br>
        <a href="{% url 'signup' %}">New user? Sign up here!</a>
      </div>
    </form>
  </div>
{% endif %}
{% endblock %}