{% extends 'widget/simpletemplate.html' %}

{% block content %}
<div class="content container">
  <div class="uppersignup">
    <div class="innersignup">
      <h2>Sign up</h2>
      <br>
      <form method="post">{% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            <br>
              {% if field.help_text %}
                {% if field.name == 'password1' %}
                  <small style="color: grey">{{ field.help_text|safe }}</small>
                {% else %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
              {% endif %}
            
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button type="submit">Sign up</button><br><br>
        <a href="{% url 'login' %}">Already have an account? Log in here!</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}