body{
    background-color: rgba(0, 0, 0, 0.5)
}

.page-header{
    background-color: #b30000;
    margin-top: 0px;
    padding-left: 20px;
    padding-top: 10px;
    border: #b30000;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;

    font-size: 27pt;
    font-family: 'Lobster', cursive;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.page-header p{
    font-family: 'Ubuntu';
    color: white;
    font-size: 27pt;
    float: right;
    margin-bottom: 0px;
}