{% extends "widget/simpletemplate.html" %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/weejet2.css' %}">
{% endblock %}

{% block details %}
        <div class="page-header">
          <h1><a href = "" >Oh, Chat App!</a></h1>
        </div>

        <input name="thread_id_ref" type="hidden" value="{{thread_id}}" />
        <!-- <input name="user_pk" type="hidden" value="{{request.user.pk}}"> -->
        
        <div class="innerbox">
          
        </div>

        <div class = "sendmess">
          <form id="add_message" action="{% url 'send_message' %}?next={{next_url}}">
            {% csrf_token %}
              <textarea autofocus name="content" class="texty" id="content" rows="1" placeholder="How may we help you today?"style="height: 26px; width: 212px;margin-right:3px"></textarea>
              <input name="thread_id" type="hidden" value="{{thread_id}}" />
              <input name="sender" id="sender" type="hidden" value="You" />
              <input type="submit" class="mdl-button" id="send" value="Send" />
              <input type="submit" class="mdl-button" id="dl" value="..." />
          </form>
        </div>

        {% verbatim %}
          <script id="message-template" type="text/template">
            <div class="message {{classes}}" data-id="{{pk}}">
                <div class="user">
                    {{sender}}
                </div>
                : <br>
                <div class="content">
                    <div class="body">
                        {{content}}
                    </div>
                    <div class="footer">
                        {{when}}
                    </div>
                </div>
            </div>
          </script>
        {% endverbatim %}s
{% endblock %}