{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
        Generic Messaging
        </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/weejet2.css' %}">
    </head>

    <body>

      <div class="chatbox">
        <div class="page-header">
          <h1><a href = "" >Oh, Chat App!</a></h1>
        </div>

        <input name="thread_id_ref" type="hidden" value="{{thread_id}}" />
        <input name="user_pk" type="hidden" value="{{request.user.pk}}">
        
        <div class="innerbox">

          <div class="messages">
            {% for message in messages %}
                {% include "dashboard/messages_panel/message.html" %}
            {% endfor %}
          </div>

          <div class="loginer" id = "loginer">
            <div class = "emaildetail">
              <p>To obtain a copy of this conversation, please enter the following details:</p>
              <h1>Username</h1>
              <textarea autofocus name="content" id="content" rows="1" style="width:212px;margin-right:3px"></textarea>
              <h1>E-mail Address</h1>
              <textarea autofocus name="content" id="content" rows="1" style="width:212px;margin-right:3px"></textarea>
              <input type="submit" class="mdl-button" id="send" style="margin-top: 5px;" value="Send" />
            </div>
          </div>

        </div>

        <div class = "sendmess">
          <form id="send_message" action="{% url 'add_message' %}?next={{next_url}}">
            {% csrf_token %}
              <textarea autofocus name="content" class="texty" id="content" rows="1" placeholder="How may we help you today?"style="height: 26px; width: 212px;margin-right:3px"></textarea>
              <input name="thread_id" type="hidden" value="{{thread_id}}" />
              <input name="sender" id="sender" type="hidden" value="{{request.user}}" />
              <input type="submit" class="mdl-button" id="send" value="Send" />
              <input type="submit" class="mdl-button" onclick="hide()" id="dl" value="..." />
          </form>
        </div

        {% verbatim %}
          <script id="message-template" type="text/template">
            <div class="message {{classes}}" data-id="{{pk}}">
                <div class="user">
                    {{sender}}
                </div>
                : <br>
                <div class="content">
                    <div class="body">
                        {{content}}
                    </div>
                    <div class="footer">
                        {{when}}
                    </div>
                </div>
            </div>
          </script>
        {% endverbatim %}

      </div>



      <script src= "{% static 'js/require.js'%}"></script>
      <script>
        require.config({
          baseUrl: "{% static 'js/' %}",

          paths: {
            'jquery': "{% static 'js/jquery' %}"
          }
        });
      </script>
      <script>
        function hide() {
            var x = document.getElementById('loginer');
            if (x.style.display === 'none') {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        }
        console.log(window.frameElement);
      </script>
      <script src= "{% static 'js/message2.js'%}"></script>
      {% block script %}
      {% endblock %}

  </body>

</html>