{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        Generic Messaging
      {% endblock %}
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    {% block extra_head %}
    {% endblock %}
  </head>

  <body>
    <div class="page-header">
      <h1><a href="/">Oh, Chat App!</a></h1>
        {# login/signup thingy #}
          {% if user.is_authenticated %}
            <p>Welcome, {{request.user}} </p>
          <div class = "logsignout">
            <a href="{% url 'logout' %}">Logout</a>
          </div>
          {% endif %}
      <hr>
    </div>

    {% block content %}
      <div class="upperlogin">
          {% block login %}
          {% endblock %}
      </div>
    {% endblock %}
    <script src= "{% static 'js/require.js'%}"></script>
    <script>
      require.config({
        baseUrl: "{% static 'js/' %}",

        paths: {
          'jquery': "{% static 'js/jquery' %}"
        }
      });
    </script>
    <script src= "{% static 'js/message.js'%}"></script>
    {% block script %}
    {% endblock %}
  </body>

</html>
