{% extends "dashboard/home.html" %}

{% block details %}
<div class = "container">
	<textarea readonly rows = "15" cols = "80%">
		{% for message in messages %}
		{{message.sender}} : {{message.content}}   				({{ message.when_created}}) 
		{% endfor %}
	</textarea>
<br><br><br>
	<form action="{% url 'add_message' %}?next={{next_url}}" method="post">
        {% csrf_token %}
		<textarea name="content" id="" rows="3" cols = "80%"></textarea>
		<input name="thread_id" type="hidden" value="{{thisthreads.id}}" />
		<button>Send</button>
	</form>
</div>
{% endblock %}