{% extends 'dashboard/base.html' %}

{% block wellog %}
    <div class="wellog">
      {% if user.is_authenticated %}
        <div class = "welcome">
            Welcome, <a href="{% url 'profile' pk=request.user.pk %}" >{{request.user}}</a>
        </div>
        <a  href="{% url 'logout' %}" class = "logsignout">Logout</a>
        <a href="{% url 'client_register'%}" class = "sitereghead" >Site Registration </a>
        <br><br><hr>
      {% endif %}
    </div>
{% endblock %}

{% block content %}
  <div class = "row">
        <div class="listthreadsusers">
            
            <div class="threadlist">
                <h3>Joined Threads</h3>
                <div class="list-group" id="threads_joined">
                    {% for thread in threads %}
                        <a href="{% url 'details' pk=thread.pk %}" class="list-group-item" id="joined_thread">{{thread.subject}}</a>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    
        <div class = "createjointhread">
            {% block details %}
                <div class = "createjoinblock">
                    <form id="createthreads" action="{% url 'addnewthread'%}">
                        {% csrf_token %}
                        <h3>Create a Thread:</h3>
                        Subject: <input type="text" name="t_subject" id="create_subject">
                        <br><br>
                        <input type="submit" class="mdl-button" id="create" value="Create" />
                    </form>
                </div>
            {% endblock%}
        </div>

        <div class="listallthreads">
            <h3>Public Threads</h3>
            <ul>
                    <form id="jointhreads" action="{% url 'jointhreads'%}">
                    {% csrf_token %}
                    {% for thread in allthreads %}
                        <a class="list-group-item" name="t_subject" id="join_subject">{{thread.subject}}</a>
                    {% endfor %}
                    </form>
            </ul>
        </div>

    </div>
{% endblock %}