{% extends 'dashboard/base2.html' %}

{% block content %}
    
    <div class = "sitereg">
        <h2>Sites Registered </h2>
    </div>

    <div class="sitelist">
        {% if len == 0 %}
            <p>Nothing to Show</p>
        {% endif %}
        {% for site in sites %}
            <p>Domain:<br></p>
            <h1>{{ site.domain}}<br></h1><hr>
            <p>Access Secret:<br></p>
            <h1>{{ site.access_secret }}<br></h1><hr>
            <p>Access Key:<br></p>
            <h1>{{site.access_key}}<br></h1><hr>
            <p>Snippets:<br></p>
            <h1>{{snippet1}} http://127.0.0.1:8000/widget/client_widget/?access_key={{site.access_key}} {{snippet2}}{{snippet3}}<br></h1>
        {% endfor %}
    </div>
 
{% endblock %}