{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/client.css' %}">
    {% block extra_head %}
    {% endblock %}
  </head>

  <body>
    {% block pageheader %}
    {% endblock %}

    <div class = "createjointhread">
    {% block content %}
        <div class = "createjoinblock">
            <input name="thread_id_ref" type="hidden" value="{{thread_id}}" />
            <input name="user_pk" type="hidden" value="{{request.user.pk}}">
            <div class="messages">
                {% for message in messages %}
                {% include "dashboard/messages_panel/message.html" %}
                {% endfor %}
            </div>
            <div class = "sendmess">
                <form id="send_message" action="{% url 'add_message' %}?next={{next_url}}">
                    {% csrf_token %}
                    <textarea name="content" id="content" rows="2" cols = "40%"></textarea>
                    <input name="thread_id" type="hidden" value="{{thread_id}}" />
                    <input name="sender" id="sender" type="hidden" value="{{request.user}}" />
                    <br>
                    <input type="submit" class="mdl-button" id="send" value="Send" />
                </form>
            </div>
        </div>
    

    {% verbatim %}
        <script id="message-template" type="text/template">
            <div class="message {{classes}}" data-id="{{pk}}">
                <div class="user">
                    {{sender}}
                </div>
                : <br>
                <div class="content">
                    <div class="body">
                        {{content}}
                    </div>
                    <div class="footer">
                        {{when}}
                    </div>
                </div>
            </div>
        </script>
    {% endverbatim %}
    {% endblock %}
    </div>

    <script src= "{% static 'js/require.js'%}"></script>
    <script>
      require.config({
        baseUrl: "{% static 'js/' %}",

        paths: {
          'jquery': "{% static 'js/jquery' %}"
        }
      });
    </script>
    <script src= "{% static 'js/message.js'%}"></script>

    {% block script %}
    {% endblock %}
    
  </body>
</html>

